@import '~bootstrap/scss/bootstrap';

.jumbo {
    height: 400px;
    background-image: url("../assets/img/jumbotron.jpg");
    position: relative;
    }
    
    .my_series_btn {
        position: absolute;
        bottom: -20px;
        left: 310px;
    }


input,
textarea {
    width: 100%;
}

table button,
table a {
    width: 100%;
}

